## Question 1 : Calculez le nombre total d’humains sur la planète pour l'année 2013.

### Import des modules nécessaires

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows', 30)
pd.options.mode.chained_assignment = None

### Import du fichier fr_population.csv

In [3]:
data = pd.read_csv("C:/Users/Inspira/Documents/Benoit/Openclassroom/Projet 03/FAO_2013_fr/fr_population.CSV")

### La question porte sur l'année 2013, on regarde donc si il y a plusieurs années dans le tableau

In [4]:
data.Année.unique()

array([2013], dtype=int64)

In [5]:
data

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,236,Venezuela (République bolivarienne du),511,Population totale,2501,Population,2013,2013,1000 personnes,30405,NaN,Donnée officielle
171,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,237,Viet Nam,511,Population totale,2501,Population,2013,2013,1000 personnes,91680,NaN,Donnée officielle
172,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,249,Yémen,511,Population totale,2501,Population,2013,2013,1000 personnes,24407,NaN,Donnée officielle
173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,Zambie,511,Population totale,2501,Population,2013,2013,1000 personnes,14539,NaN,Donnée officielle
174,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,511,Population totale,2501,Population,2013,2013,1000 personnes,14150,NaN,Donnée officielle

### Calcul de la population mondiale en 2013 avec un pivot_table en millier d'habitants

In [6]:
pop_2013 = data['Valeur'].sum() * 1000

In [7]:
print("La population mondiale est de ",pop_2013,"habitants")

La population mondiale est de  8413993000 habitants

### Ce chiffre parait érroné car selon wikipédia la population mondiale en 2013 était d'environ : 7 milliards d'habitants

### On regarde si il n'y a pas de doublons dans les pays en affichant leurs 4 premières lettres :

In [8]:
zone_4C = data['Zone'].str[:4]

In [9]:
zone_4C

0      Afgh
1      Afri
2      Alba
3      Algé
4      Alle
       ...
170    Vene
171    Viet
172    Yéme
173    Zamb
174    Zimb
Name: Zone, Length: 175, dtype: object

In [10]:
data["Zone_4C"] = zone_4C

In [11]:
data

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Zone_4C
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,Afgh
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle,Afri
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle,Alba
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle,Algé
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle,Alle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,236,Venezuela (République bolivarienne du),511,Population totale,2501,Population,2013,2013,1000 personnes,30405,NaN,Donnée officielle,Vene
171,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,237,Viet Nam,511,Population totale,2501,Population,2013,2013,1000 personnes,91680,NaN,Donnée officielle,Viet
172,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,249,Yémen,511,Population totale,2501,Population,2013,2013,1000 personnes,24407,NaN,Donnée officielle,Yéme
173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,Zambie,511,Population totale,2501,Population,2013,2013,1000 personnes,14539,NaN,Donnée officielle,Zamb
174,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,511,Population totale,2501,Population,2013,2013,1000 personnes,14150,NaN,Donnée officielle,Zimb

In [12]:
pd.concat(g for _, g in data.groupby("Zone_4C") if len(g) > 1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Zone_4C
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,...",Chin
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle,Chin
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle,Chin
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle,Chin
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle,Chin
68,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,90,Guinée,511,Population totale,2501,Population,2013,2013,1000 personnes,11745,NaN,Donnée officielle,Guin
69,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,175,Guinée-Bissau,511,Population totale,2501,Population,2013,2013,1000 personnes,1704,NaN,Donnée officielle,Guin
99,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,131,Malaisie,511,Population totale,2501,Population,2013,2013,1000 personnes,29717,NaN,Donnée officielle,Mala
100,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,130,Malawi,511,Population totale,2501,Population,2013,2013,1000 personnes,16363,NaN,Donnée officielle,Mala
105,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,137,Maurice,511,Population totale,2501,Population,2013,2013,1000 personnes,1244,NaN,Donnée officielle,Maur
106,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,136,Mauritanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3890,NaN,Donnée officielle,Maur
118,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,153,Nouvelle-Calédonie,511,Population totale,2501,Population,2013,2013,1000 personnes,256,NaN,Donnée officielle,Nouv
119,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,156,Nouvelle-Zélande,511,Population totale,2501,Population,2013,2013,1000 personnes,4506,NaN,Donnée officielle,Nouv
132,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,37,République centrafricaine,511,Population totale,2501,Population,2013,2013,1000 personnes,4616,NaN,Donnée officielle,Répu
133,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,117,République de Corée,511,Population totale,2501,Population,2013,2013,1000 personnes,49263,NaN,Donnée officielle,Répu
134,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,146,République de Moldova,511,Population totale,2501,Population,2013,2013,1000 personnes,3487,NaN,Donnée officielle,Répu
135,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,120,République démocratique populaire lao,511,Population totale,2501,Population,2013,2013,1000 personnes,6770,NaN,Donnée officielle,Répu
136,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,56,République dominicaine,511,Population totale,2501,Population,2013,2013,1000 personnes,10404,NaN,Donnée officielle,Répu
137,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,116,République populaire démocratique de Corée,511,Population totale,2501,Population,2013,2013,1000 personnes,24895,NaN,Donnée officielle,Répu
138,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,215,République-Unie de Tanzanie,511,Population totale,2501,Population,2013,2013,1000 personnes,49253,NaN,Donnée officielle,Répu
142,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,189,Sainte-Lucie,511,Population totale,2501,Population,2013,2013,1000 personnes,182,NaN,Donnée officielle,Sain
143,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,188,Saint-Kitts-et-Nevis,511,Population totale,2501,Population,2013,2013,1000 personnes,54,NaN,Donnée officielle,Sain
144,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,191,Saint-Vincent-et-les Grenadines,511,Population totale,2501,Population,2013,2013,1000 personnes,109,NaN,Donnée officielle,Sain
150,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,199,Slovaquie,511,Population totale,2501,Population,2013,2013,1000 personnes,5450,NaN,Donnée officielle,Slov
151,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,198,Slovénie,511,Population totale,2501,Population,2013,2013,1000 personnes,2072,NaN,Donnée officielle,Slov

### La Chine est comptabilisée dans son ensemble ET par régions, sa population est donc comptée 2 fois

In [13]:
chine_duplicate = data[data['Zone_4C'].str.contains("Chin")]

In [14]:
chine_duplicate

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Zone_4C
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,...",Chin
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle,Chin
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle,Chin
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle,Chin
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle,Chin

In [15]:
chine_duplicate = chine_duplicate.loc[(chine_duplicate['Zone'] != "Chine")]

In [16]:
chine_duplicate

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Zone_4C
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle,Chin
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle,Chin
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle,Chin
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle,Chin

In [17]:
chine_regions = chine_duplicate["Code zone"]

In [18]:
chine_regions

34     96
35    128
36     41
37    214
Name: Code zone, dtype: int64

### Suppression des lignes "Régions de la Chine"

In [19]:
data = data.loc[~data["Code zone"].isin(chine_regions)]

In [20]:
data

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Zone_4C
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,Afgh
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle,Afri
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle,Alba
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle,Algé
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle,Alle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,236,Venezuela (République bolivarienne du),511,Population totale,2501,Population,2013,2013,1000 personnes,30405,NaN,Donnée officielle,Vene
171,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,237,Viet Nam,511,Population totale,2501,Population,2013,2013,1000 personnes,91680,NaN,Donnée officielle,Viet
172,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,249,Yémen,511,Population totale,2501,Population,2013,2013,1000 personnes,24407,NaN,Donnée officielle,Yéme
173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,Zambie,511,Population totale,2501,Population,2013,2013,1000 personnes,14539,NaN,Donnée officielle,Zamb
174,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,511,Population totale,2501,Population,2013,2013,1000 personnes,14150,NaN,Donnée officielle,Zimb

In [21]:
data.pivot_table('Valeur', index='Élément', aggfunc="sum")

                    Valeur
Élément
Population totale  6997326

#### Réponse Q1 :

In [22]:
world_pop_2013 =(1000*(data["Valeur"].sum()))

In [23]:
print("La population mondiale en 2013 était de :",world_pop_2013 ," habitants")

La population mondiale en 2013 était de : 6997326000  habitants

## Question 2 : Identifiez ces redondances

### Equation :

Disponibilité intérieure = Production + Importations - Exportations + Variation de stock = Nourriture + Traitement + Aliments pour animaux + Semences + Pertes + Autres utilisations

### Exemple du blé en France

### Import du fichier fr_vegetaux.csv

In [24]:
vegetaux_df = pd.read_csv("C:/Users/Inspira/Documents/Benoit/Openclassroom/Projet 03/FAO_2013_fr/fr_vegetaux.CSV")

In [25]:
ble_france = vegetaux_df.loc[(vegetaux_df["Produit"]=="Blé") & (vegetaux_df["Zone"]=="France")]

In [26]:
ble_france = ble_france.pivot_table(values = 'Valeur', columns = 'Élément')

In [27]:
ble_france

Élément,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Valeur,7822.0,2824.0,811.0,108.43,4.2,25.99,20298.0,21502.0,2055.0,6971.0,358.0,38614.0,748.0,1575.0,1131.0

Disponibilité intérieure = Production + Importations - Exportations + Variation de stock = Nourriture + Traitement + Aliments pour animaux + Semences + Pertes + Autres utilisations

In [28]:
print(ble_france["Disponibilité intérieure"])

Valeur    20298.0
Name: Disponibilité intérieure, dtype: float64

In [29]:
print(ble_france["Production"] + ble_france["Importations - Quantité"] - ble_france["Exportations - Quantité"] + ble_france["Variation de stock"])

Valeur    20298.0
dtype: float64

In [30]:
print(ble_france["Nourriture"] + ble_france["Traitement"] + ble_france["Aliments pour animaux"] + ble_france["Semences"] + ble_france["Pertes"] + ble_france["Autres utilisations (non alimentaire)"])

Valeur    20298.0
dtype: float64

### Les 3 résultats sont bien identiques

## Question 3 : Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

### Vous ferez cela à partir de ces informations :
    - Population de chaque pays
    - Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour.
    - Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.

### Import du fichier fr_animaux.csv

In [31]:
animaux_df = pd.read_csv("C:/Users/Inspira/Documents/Benoit/Openclassroom/Projet 03/FAO_2013_fr/fr_animaux.CSV")

### Ajout d'une colonne "Type" pour animaux et végétaux

In [32]:
animaux_df = animaux_df.assign(Type = 'Animal')

In [33]:
vegetaux_df = vegetaux_df.assign(Type = 'Végétal')

### Concaténation des dataframe vegetaux_df, animaux_df

In [34]:
veg_ani_df = pd.concat([vegetaux_df, animaux_df])

In [35]:
veg_ani_df

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Type
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées,Végétal
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées,Végétal
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées,Végétal
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées,Végétal
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées,Végétal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37161,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,Animal
37162,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,0.0,Fc,Donnée calculée,Animal
37163,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,0.0,Fc,Donnée calculée,Animal
37164,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.0,Fc,Donnée calculée,Animal
37165,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.0,Fc,Donnée calculée,Animal

### Suppression des lignes "Régions de la Chine"

In [36]:
veg_ani_df = veg_ani_df.loc[~veg_ani_df["Code zone"].isin(chine_regions)]

In [37]:
veg_ani_df

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Type
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées,Végétal
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées,Végétal
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées,Végétal
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées,Végétal
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées,Végétal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37161,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,Animal
37162,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,0.0,Fc,Donnée calculée,Animal
37163,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,0.0,Fc,Donnée calculée,Animal
37164,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.0,Fc,Donnée calculée,Animal
37165,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.0,Fc,Donnée calculée,Animal

### Simplification du dataframe data_df

In [38]:
data = data.loc[:,['Zone','Valeur']]

### Changement de nom pour la colonne "Valeur"

In [39]:
data = data.rename(columns={"Valeur":"Population ( Milliers )"})

In [40]:
data

                                       Zone  Population ( Milliers )
0                               Afghanistan                    30552
1                            Afrique du Sud                    52776
2                                   Albanie                     3173
3                                   Algérie                    39208
4                                 Allemagne                    82727
..                                      ...                      ...
170  Venezuela (République bolivarienne du)                    30405
171                                Viet Nam                    91680
172                                   Yémen                    24407
173                                  Zambie                    14539
174                                Zimbabwe                    14150

[171 rows x 2 columns]

### Jointure des dataframe ani_veg_df, data_df

In [41]:
data = pd.merge(veg_ani_df,data, how='inner')

In [42]:
data

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Type,Population ( Milliers )
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées,Végétal,30552
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées,Végétal,30552
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées,Végétal,30552
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées,Végétal,30552
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées,Végétal,30552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138432,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,Animal,14150
138433,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,0.0,Fc,Donnée calculée,Animal,14150
138434,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,0.0,Fc,Donnée calculée,Animal,14150
138435,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.0,Fc,Donnée calculée,Animal,14150
138436,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.0,Fc,Donnée calculée,Animal,14150

In [43]:
data = data.pivot_table(index = ('Zone' , 'Code zone', 'Population ( Milliers )' , 'Produit', 'Type')  , values = 'Valeur', columns = ('Élément'))

In [44]:
data

Élément                                                                       Aliments pour animaux  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal                     NaN
                                               Agrumes, Autres       Végétal                    NaN
                                               Aliments pour enfants Végétal                    NaN
                                               Ananas                Végétal                    NaN
                                               Bananes               Végétal                    NaN
...                                                                                             ...
Îles Salomon 25        561                     Viande de Suides      Animal                     NaN
                                               Viande de Volailles   Animal                     NaN
                                               Viande, Autre         Animal                     NaN
                                               Vin                   Végétal                    NaN
                                               Épices, Autres        Végétal                    NaN

Élément                                                                       Autres utilisations (non alimentaire)  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal                                     NaN
                                               Agrumes, Autres       Végétal                                    NaN
                                               Aliments pour enfants Végétal                                    NaN
                                               Ananas                Végétal                                    NaN
                                               Bananes               Végétal                                    NaN
...                                                                                                             ...
Îles Salomon 25        561                     Viande de Suides      Animal                                     NaN
                                               Viande de Volailles   Animal                                     NaN
                                               Viande, Autre         Animal                                     NaN
                                               Vin                   Végétal                                    NaN
                                               Épices, Autres        Végétal                                    NaN

Élément                                                                       Disponibilité alimentaire (Kcal/personne/jour)  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal                                              5.0
                                               Agrumes, Autres       Végétal                                             1.0
                                               Aliments pour enfants Végétal                                             1.0
                                               Ananas                Végétal                                             0.0
                                               Bananes               Végétal                                             4.0
...                                                                                                                      ...
Îles Salomon 25        561                     Viande de Suides      Animal                                             45.0
                                               Viande de Volailles   Animal                                             11.0
                                               Viande, Autre         Animal                                              0.0
                                               Vin                   Végétal                                             0.0
                                               Épices, Autres        Végétal                                             4.0

Élément                                                                       Disponibilité alimentaire en quantité (kg/personne/an)  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal                                                1.72
                                               Agrumes, Autres       Végétal                                               1.29
                                               Aliments pour enfants Végétal                                               0.06
                                               Ananas                Végétal                                               0.00
                                               Bananes               Végétal                                               2.70
...                                                                                                                         ...
Îles Salomon 25        561                     Viande de Suides      Animal                                                4.70
                                               Viande de Volailles   Animal                                                3.34
                                               Viande, Autre         Animal                                                0.06
                                               Vin                   Végétal                                               0.07
                                               Épices, Autres        Végétal                                               0.48

Élément                                                                       Disponibilité de matière grasse en quantité (g/personne/jour)  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal                                                0.20
                                               Agrumes, Autres       Végétal                                               0.01
                                               Aliments pour enfants Végétal                                               0.01
                                               Ananas                Végétal                                                NaN
                                               Bananes               Végétal                                               0.02
...                                                                                                                         ...
Îles Salomon 25        561                     Viande de Suides      Animal                                                4.28
                                               Viande de Volailles   Animal                                                0.69
                                               Viande, Autre         Animal                                                 NaN
                                               Vin                   Végétal                                                NaN
                                               Épices, Autres        Végétal                                               0.21

Élément                                                                       Disponibilité de protéines en quantité (g/personne/jour)  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal                                                0.77
                                               Agrumes, Autres       Végétal                                               0.02
                                               Aliments pour enfants Végétal                                               0.03
                                               Ananas                Végétal                                                NaN
                                               Bananes               Végétal                                               0.05
...                                                                                                                         ...
Îles Salomon 25        561                     Viande de Suides      Animal                                                1.41
                                               Viande de Volailles   Animal                                                1.14
                                               Viande, Autre         Animal                                                0.04
                                               Vin                   Végétal                                                NaN
                                               Épices, Autres        Végétal                                               0.15

Élément                                                                       Disponibilité intérieure  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal                       53.0
                                               Agrumes, Autres       Végétal                      41.0
                                               Aliments pour enfants Végétal                       2.0
                                               Ananas                Végétal                       0.0
                                               Bananes               Végétal                      82.0
...                                                                                                ...
Îles Salomon 25        561                     Viande de Suides      Animal                        3.0
                                               Viande de Volailles   Animal                        2.0
                                               Viande, Autre         Animal                        0.0
                                               Vin                   Végétal                       0.0
                                               Épices, Autres        Végétal                       0.0

Élément                                                                       Exportations - Quantité  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal                       NaN
                                               Agrumes, Autres       Végétal                      2.0
                                               Aliments pour enfants Végétal                      NaN
                                               Ananas                Végétal                      NaN
                                               Bananes               Végétal                      NaN
...                                                                                               ...
Îles Salomon 25        561                     Viande de Suides      Animal                       NaN
                                               Viande de Volailles   Animal                       NaN
                                               Viande, Autre         Animal                       NaN
                                               Vin                   Végétal                      0.0
                                               Épices, Autres        Végétal                      0.0

Élément                                                                       Importations - Quantité  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal                       NaN
                                               Agrumes, Autres       Végétal                     40.0
                                               Aliments pour enfants Végétal                      2.0
                                               Ananas                Végétal                      0.0
                                               Bananes               Végétal                     82.0
...                                                                                               ...
Îles Salomon 25        561                     Viande de Suides      Animal                       0.0
                                               Viande de Volailles   Animal                       2.0
                                               Viande, Autre         Animal                       0.0
                                               Vin                   Végétal                      0.0
                                               Épices, Autres        Végétal                      0.0

Élément                                                                       Nourriture  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal         53.0
                                               Agrumes, Autres       Végétal        39.0
                                               Aliments pour enfants Végétal         2.0
                                               Ananas                Végétal         0.0
                                               Bananes               Végétal        82.0
...                                                                                  ...
Îles Salomon 25        561                     Viande de Suides      Animal          3.0
                                               Viande de Volailles   Animal          2.0
                                               Viande, Autre         Animal          0.0
                                               Vin                   Végétal         0.0
                                               Épices, Autres        Végétal         0.0

Élément                                                                       Pertes  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal      NaN
                                               Agrumes, Autres       Végétal     2.0
                                               Aliments pour enfants Végétal     NaN
                                               Ananas                Végétal     NaN
                                               Bananes               Végétal     NaN
...                                                                              ...
Îles Salomon 25        561                     Viande de Suides      Animal      NaN
                                               Viande de Volailles   Animal      NaN
                                               Viande, Autre         Animal      NaN
                                               Vin                   Végétal     NaN
                                               Épices, Autres        Végétal     NaN

Élément                                                                       Production  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal         53.0
                                               Agrumes, Autres       Végétal         3.0
                                               Aliments pour enfants Végétal         NaN
                                               Ananas                Végétal         NaN
                                               Bananes               Végétal         NaN
...                                                                                  ...
Îles Salomon 25        561                     Viande de Suides      Animal          2.0
                                               Viande de Volailles   Animal          0.0
                                               Viande, Autre         Animal          NaN
                                               Vin                   Végétal         NaN
                                               Épices, Autres        Végétal         0.0

Élément                                                                       Semences  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal        NaN
                                               Agrumes, Autres       Végétal       NaN
                                               Aliments pour enfants Végétal       NaN
                                               Ananas                Végétal       NaN
                                               Bananes               Végétal       NaN
...                                                                                ...
Îles Salomon 25        561                     Viande de Suides      Animal        NaN
                                               Viande de Volailles   Animal        NaN
                                               Viande, Autre         Animal        NaN
                                               Vin                   Végétal       NaN
                                               Épices, Autres        Végétal       NaN

Élément                                                                       Traitement  \
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal          NaN
                                               Agrumes, Autres       Végétal         NaN
                                               Aliments pour enfants Végétal         NaN
                                               Ananas                Végétal         NaN
                                               Bananes               Végétal         NaN
...                                                                                  ...
Îles Salomon 25        561                     Viande de Suides      Animal          NaN
                                               Viande de Volailles   Animal          NaN
                                               Viande, Autre         Animal          NaN
                                               Vin                   Végétal         NaN
                                               Épices, Autres        Végétal         NaN

Élément                                                                       Variation de stock
Zone         Code zone Population ( Milliers ) Produit               Type
Afghanistan  2         30552                   Abats Comestible      Animal                  NaN
                                               Agrumes, Autres       Végétal                 NaN
                                               Aliments pour enfants Végétal                 NaN
                                               Ananas                Végétal                 NaN
                                               Bananes               Végétal                 NaN
...                                                                                          ...
Îles Salomon 25        561                     Viande de Suides      Animal                  NaN
                                               Viande de Volailles   Animal                  NaN
                                               Viande, Autre         Animal                  NaN
                                               Vin                   Végétal                 NaN

In [45]:
data["Disponibilité alimentaire en Kcal"] =  data["Disponibilité alimentaire (Kcal/personne/jour)"] *  data['Population ( Milliers )'] *  1000 * 365

KeyError: 'Population ( Milliers )'

In [ ]:
data

In [ ]:
data["Disponibilité alimentaire en quantité de protéines (Kg)"] =  data["Disponibilité de protéines en quantité (g/personne/jour)"] / 1000 *  data["Population ( Milliers )"] *  1000 * 365

In [ ]:
data

In [ ]:
a = np.isinf(data['Nourriture']).values.sum() 
print("It contains " + str(a) + " infinite values")

In [ ]:
b = np.isinf(data['Disponibilité alimentaire en Kcal']).values.sum() 
print("It contains " + str(b) + " infinite values")

## Question 4 : 
A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

Indication : La disponibilité alimentaire en kcal/personne/jour est calculée par la FAO en multipliant la quantité Nourriture par le ratio énergie/poids (en kcal/kg), puis en le divisant par la population du pays puis par 365. Ici, on vous demande juste de retrouver le ratio énergie/poids que la FAO a utilisé dans son calcul.

En suivant la même méthodologie, calculez également le pourcentage de protéines de chaque produit (pour chaque pays). Ce pourcentage est obtenu en calculant le ratio "poids de protéines/poids total" (attention aux unités utilisées). Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la teneur en protéines de l'avoine.

### <span style="color:green">Ratio = Disponibilité alimentaire en kcal/personne/jour * 365 * Population / Nourriture</span>

In [ ]:
data["Ratio (énergie/poids) en Kcal/kg"] = data["Disponibilité alimentaire en Kcal"] / ( data["Nourriture"] * 1000 * 1000)

In [ ]:
data

# Recherche des valeurs inf suite au calcul du ratio

In [ ]:
c = np.isinf(data['Ratio (énergie/poids) en Kcal/kg']).values.sum() 
print("It contains " + str(c) + " infinite values")

# Remplacement des valeurs inf par Nan

In [ ]:
data = data.replace([np.inf, -np.inf], np.nan)

In [ ]:
ratio_oeuf = data.loc[(data["Produit"]== "Oeufs") & (data["Zone"]=="France")]

In [ ]:
ratio_oeuf

### Selon wikipédia https://fr.wikipedia.org/wiki/%C5%92uf_(aliment) la valeur calorique d'un oeuf est de 147 Kcal pour 100 grammes soit 1470 Kcal / kg

## Question 4 bis : 
En suivant la même méthodologie, calculez également le pourcentage de protéines de chaque produit (pour chaque pays). Ce pourcentage est obtenu en calculant le ratio "poids de protéines/poids total" (attention aux unités utilisées). Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la teneur en protéines de l'avoine.

In [ ]:
data["Pourcentage de protéines (%)"] = data["Disponibilité alimentaire en quantité de protéines (Kg)"] / ( data["Disponibilité alimentaire en quantité (kg/personne/an)"] * data["Population ( Milliers )"] * 1000 ) * 100

In [ ]:
pourcentage_avoine = data.loc[(data["Produit"]== "Avoine") & (data["Zone"]=="France")]

In [ ]:
pourcentage_avoine

### Selon wikipédia https://fr.wikipedia.org/wiki/Avoine_cultiv%C3%A9e le pourcentage de protéines dans l'avoine est de 10,7%

## Question 5 : Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.
Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne.
Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

Pour approfondir la réflexion, il est important de se documenter sur la qualité des protéines, notamment sur l'indice PDCAAS. Voici les articles Wikipedia correspondant : français, anglais. Cet aspect n'est pas demandé dans la soutenance, c'est juste pour la culture générale.

In [ ]:
top_calo = data.loc[:,['Produit', 'Ratio (énergie/poids) en Kcal/kg']]

In [ ]:
top_calo

In [ ]:
c = np.isinf(top_calo['Ratio (énergie/poids) en Kcal/kg']).values.sum() 
print("It contains " + str(c) + " infinite values")

In [ ]:
top_calo = top_calo.replace([np.inf, -np.inf], np.nan)

In [ ]:
d = np.isinf(top_calo['Ratio (énergie/poids) en Kcal/kg']).values.sum() 
print("It contains " + str(d) + " infinite values")

In [ ]:
top_calo

In [ ]:
top_calo.sort_values(['Ratio (énergie/poids) en Kcal/kg'],ascending=False).groupby('Produit').head(20)

## Question 6 : Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

In [ ]:
data_veg = data.loc[data['Type'] == "Végétal"]

In [ ]:
data_veg

In [ ]:
data_veg["Disponibilité intérieure en Kcal"] = data_veg["Disponibilité intérieure"] * 1000 * 1000 * data_veg["Ratio (énergie/poids) en Kcal/kg"]

In [ ]:
data_veg

In [ ]:
dispo_mondiale_2013_kcal = data_veg['Disponibilité intérieure en Kcal'].sum()

In [ ]:
dispo_mondiale_2013_kcal

##  Question 7 : Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

### Nombre d'humain calcul calories

#### Sur la base d'un apport journalier recommandé de 2200 kcal par personne

In [ ]:
nb_humain_kcal = dispo_mondiale_2013_kcal / 365 / 2200

In [ ]:
nb_humain_kcal

In [ ]:
world_pop_2013

### Pourcentage

In [ ]:
100 / world_pop_2013 * nb_humain_kcal

### Nombre d'humain calcul protéines

#### Sur la base d'un apport journalier recommandé de 60 g de protéines par personne

In [ ]:
data_veg['Disponibilité intérieure en kg de protéines'] = data_veg['Disponibilité intérieure'] * 1000 * 1000 * data_veg['Pourcentage de protéines (%)'] / 100

In [ ]:
dispo_mondiale_2013_prot = data_veg['Disponibilité intérieure en kg de protéines'].sum()

In [ ]:
dispo_mondiale_2013_prot

In [ ]:
nb_humain_prot = dispo_mondiale_2013_prot / 365 / 0.060

In [ ]:
nb_humain_prot

### Pourcentage

In [ ]:
100 / world_pop_2013 * nb_humain_prot

## Question 8 : Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [ ]:
data_veg["Nourriture total en Milliers de Tonnes"] =  data_veg['Disponibilité alimentaire en Kcal'] + (( data_veg["Nourriture"] + data_veg["Aliments pour animaux"] + data_veg["Pertes"]) * 1000 * 1000 ) * data_veg["Ratio (énergie/poids) en Kcal/kg"]

In [ ]:
data_veg

In [ ]:
nourriture_totale = data_veg['Nourriture total en Milliers de Tonnes'].sum()

In [ ]:
nourriture_totale

In [ ]:
nb_humain = nourriture_totale / 365 / 2200

In [ ]:
nb_humain

### Pourcentage

In [ ]:
100 / world_pop_2013 * nb_humain

## Question 9 : Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

##  Question 10 : A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?